<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
    <%= form_for(current_user) do |f| %>
      <%= render 'shared/error_messages', subject: f.object %>

        <div class="user_edit_image">
          <%= image_tag current_user.avatar.url(:medium) %>
          <%= f.file_field :avatar %>
        </div>
        <div class="user_edit_fields">
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation %>

          <%= f.submit 'Save changes', class: 'btn btn-large btn-primary' %>
        </div>
    <% end %>
</div>