<% provide(:title, 'Edit post') %>
<div class="row">
  <h1>Edit your post</h1>
  <%= link_to 'Click this to delete this post', post_path(@post), method: 'delete', class: 'delete_post' %>
</div>

<div class="row post_edit">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', subject: @post %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :text %>
        <%= f.text_area :text, rows: 14 %>

        <%= f.submit 'Save changes', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>

<script>
    $("a.delete_post").click(function(){
        var confirm1 = confirm('Are you sure you want to delete selected post ?');
        if (confirm1 === true) {
            return confirm('Are you really sure, it can not be reverted ?');
        }
        return false;
    });
</script>