<% provide(:title, 'Posts') %>
<h1><%= link_to @user.name.capitalize, @user, target: '_blank' %> Posts</h1>
<% if current_user.id == @user.id %>
    <h4><%= link_to 'Create new post', posts_new_path %></h4>
<% end %>

<%= will_paginate %>

<ul class="posts">
  <% @posts.each do |post| %>
      <li style="display: block; background-color: #DADADA; padding: 5px 10px; border-radius: 5px;">
        <h3 style=""><%= link_to post.title.capitalize, post %></h3>
        <h5><%= link_to 'posted by ' + post.user.name.capitalize, post.user, target: '_blank' %>
          <%= 'at ' + post.created_at.strftime('%d %b %I:%M %Y') %>
        </h5>
        <h5><%= post.short_text %></h5>
      </li>
  <% end %>
</ul>

<%= will_paginate %>