<% provide(:title, @post.title.capitalize ) %>
<h2> <%= @post.title.capitalize %></h2>
<h4> <%= @post.created_at.strftime('%d %b %Y') %> </h4>
<h4> <%= 'Author: ' + @post.user.name.capitalize %> </h4>
<h4> <%= @post.comments.count %> comments </h4>
<h4 style="text-align: justify;"> <%= @post.text %> </h4>



